src/imgs/finalImages/Large/*.jpg
src/imgs/finalImages/Medium/*.jpg
*.log
node_modules
public/appcache
public/images
public/*.js
public/*.php
public/*.json
public/_offline_serviceworker
src/imgs/finalImages/Large/*.jpg
src/imgs/finalImages/Medium/*.jpg
_offline_serviceworker
*.stackdump
.idea
