*.log
node_modules
app/node_modules
app/public/appcache
app/public/images
app/public/*.js
app/public/*.php
app/public/*.json
app/public/__offline_serviceworker
app/src/imgs/finalImages/Large/*.jpg
app/src/imgs/finalImages/Medium/*.jpg
